#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}
.country{
  border: 2px solid salmon;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
.countries{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 20px;
}

.country-visited{
  background-color: aquamarine;
}
.visited-flags img{
  width: 120px;
  margin: 10px;
}